@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.us{
    position: relative;
    height: auto;
    background-color: $clr-principal;
    background-image: url(/src/assets/img/graph-paper-white.webp);
    background-position: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 clamp(0.5rem, -9.5rem + 44.444vw, 2rem);
}

.us-boxes-container{
    display: flex;
    flex-direction: column;
}